*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
.DS_Store

/*
/*/
!/3rdparty/
!/android-project/
!/benchmarks/
!/artwork/
!/bgfx/
!/docs/
!/hash/
!/hlsl/
!/keymaps/
!/language/
!/nl_examples/
!/plugins/
!/projects/
!/regtests/
!/samples/
!/scripts/
!/src/
!/shaders/
!/tests/
!/doxygen/
!/web/
!/.drone.yml
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
!/*.bdf
!/LICENSE
/.idea
docs/build
regtests/chdman/temp
regtests/jedutil/output
/CMakeLists.txt
/src/devices/cpu/m68000/m68kops.cpp
/src/devices/cpu/m68000/m68kops.h
/src/devices/cpu/m68000/m68kmake.*
/src/devices/cpu/m68000/m68kmake
!/src/devices/cpu/m68000/m68kmake.cpp
/samples

# Xcode
#

#3 General
.DS_Store

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
